.border {
    display: flex;
    align-content: space-between;
    width: 100vw;
    justify-content: space-around; /* 요소 사이에 여백을 균등하게 분배 */
}

.border > div {
    width: 200px;
    height: 200px;
    /* position:relative; */
    margin: 0 10px; /* 각 요소 사이에 좌우 여백 추가 */
}

.border > div:first-child {
    border: 1px solid black;
    border-width: 1px 5px 7px 10px;
}

.border > div:nth-child(2) {
    border: 5px solid black;
    border-style: solid dashed dotted double;
}

.border > div:nth-child(3) {
    border: 7px solid black;
    border-color: pink yellow green lightblue;
}

.border > div:last-child {
    border-top: 1px solid blue;
    border-right: 3px dotted red;
    border-bottom: 5px double orange;
    border-left: 10px dashed green;
}

